/* Custom styles for the blog landing page */
.hero {
    background-image: url('https://images.pexels.com/photos/5240597/pexels-photo-5240597.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2/1200x500');
    background-size: cover;
    background-position: center;
}

.btn-outline-light:hover {
    background-color: #f8f9fa;
    color: #212529 !important;
}

footer a:hover {
    text-decoration: underline;
}

.custom-img-height {
    height: 300px;
    width: 300px;
    object-fit: cover;
    /* text-align: center; */
    /* border: 1px solid red; */
}
