{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}
<section class="py-5 bg-light hero ">
    <div class="container text-center">
        <h1 class="display-4">About Us</h1>
        <p class="lead">Welcome to MyBlog, a place where stories, thoughts, and ideas come to life.</p>
    </div>
</section>

<!-- Mission Section -->
<section class="py-5 bg-secondary text-white">
    <div class="container ">
        <div class="row d-flex justify-content-center align-items-center" >
            <div class="col-md-1"></div>

            <div class="col-md-6">
                <h2>Our Mission</h2>
                <p>
                    At MyBlog, we aim to provide a platform for passionate writers to share their experiences,
                    knowledge, and perspectives. Whether you're here to read or to write, our goal is to foster a
                    community where ideas flow freely and voices are heard.
                </p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'blog/images/pexels-ravikant-4533596.jpg' %}" alt="Mission" class="img-fluid  rounded custom-img-height">
            </div>
            <div class="col-md-1"></div>

        </div>
    </div>
</section>


<!-- Call to Action -->
{% if not user.is_authenticated %}
<section class="py-5 text-center bg-primary text-white">
    <div class="container">
        <h2>Join Our Community</h2>
        <p>Whether you're a writer or a reader, MyBlog has a place for you. Sign up now to get the latest posts
            and share your thoughts!</p>
        <a href="{% url "register" %}" class="btn btn-outline-light btn-primary btn-lg">Sign Up</a>
        <a href="{% url "login" %}" class="btn btn-outline-light btn-primary btn-lg">Login</a>
    </div>
</section>
{% endif %}

{% endblock content %}