{% extends "base.html" %}
{% block title %}Post comment{% endblock title %}
{% block content %}
<h3 class='p-3 m-3'>Existing Comments</h3>
<ul class="list-group" class='p-3 m-3'>
    {% for comment in comments %}
    <li class="list-group-item  m-3" >
        <strong>{{ comment.user.username }}</strong>: {{ comment.content }} 
        <em>({{ comment.created_at }})</em>

        <!-- If the logged-in user owns the post, show edit and delete buttons for all comments -->
        {% if post.user == user %}
        <div class="float-end">
            <a href="{% url 'edit_comment' comment.id %}" class="btn btn-sm btn-outline-primary">Edit</a>
            <a href="{% url 'delete_comment' comment.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<!-- Comment Form Section -->
<form method="POST" class='p-3 m-3'>
    {% csrf_token %}
    {{ form.content }}
    <button type="submit" class="btn btn-primary p-3 m-3">Add Comment</button>
</form>

{% endblock content %}