{% extends "base.html" %}
{% block title %}Register{% endblock title %}
{% block content %}
<!-- Centered Container -->
<div class="d-flex justify-content-center align-items-center text-white bg-secondary" style="height: 100vh;">
    <div class="col-sm-6">
        <h2 class="text-white text-center">Register</h2>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="{{form.username.id_for_label}}">Username:</label>
                <input type="text" name="{{form.username.name}}" id="" class="form-control" value="{{form.username.value}}">
                <span class="text-danger">{{form.username.errors}}</span>
            </div>

            <div class="form-group mb-3">
                <label for="{{form.password1.id_for_label}}">Password:</label>
                <input type="password" name="{{form.password1.name}}" id="" class="form-control" value="{{form.password1.value}}">
                <span class="text-danger">{{form.password1.errors}}</span>
            </div>  
            <div class="form-group mb-3">
                <label for="{{form.password2.id_for_label}}">Confirm Password:</label>
                <input type="password" name="{{form.password2.name}}" id="" class="form-control" value="{{form.password2.value}}">
                <span class="text-danger">{{form.password2.errors}}</span>
            </div>  

            <button type="submit" class="btn text-white btn-outline-light">Submit</button>
            <a href="{% url 'login' %}" class="btn btn-default text-white btn-outline-light">Already have an account</a>

        </form>
    </div>
</div>

{% endblock content %}